.control {
  position: relative;
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control select {
  direction: rtl;
  font: inherit;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
}

.control select:focus {
  outline: 1px solid #646cff;
}

@media (prefers-color-scheme: light) {
  .control label {
    color: #1a242b;
  }
  .control select {
    background-color: #2424241a;
    color: #1a242b;
  }
}
