.card {
  width: 60%;
  margin: 0 auto;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #646cff;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  color: #535bf2;
}

.error-text {
  margin: 0;
  color: #cb4951;
}

@media (prefers-color-scheme: light) {
  .error-text {
    color: #ba3035;
  }
}
