.react-datepicker-wrapper {
  margin-bottom: 1.5rem;
  width: fit-content;
}

.react-datepicker-wrapper input {
  font: inherit;
  color: white;
  background-color: #ffffff1a;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.react-datepicker-wrapper input:focus,
.react-datepicker-wrapper input:focus-visible {
  outline: 1px solid #646cff;
}

.react-datepicker__close-icon::after {
  background-color: #646cff80;
}

.react-datepicker__close-icon {
  position: static;
  box-sizing: content-box;
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  .react-datepicker-wrapper input {
    background-color: #2424241a;
    color: #1a242b;
  }

  .react-datepicker__close-icon::after {
    background-color: #646cff;
  }
}
